[Desktop Entry]
Name=RSJFW Roblox Studio
Exec=rsjfw launch %u
Type=Application
Terminal=false
MimeType=application/x-roblox-place;application/x-roblox-model;x-scheme-handler/roblox-studio;x-scheme-handler/roblox-studio-auth;
Categories=GNOME;GTK;Game;PackageManager;
Comment=Launch Roblox Studio via RSJFW
Icon=rsjfw
Actions=manage;
Keywords=gaming;launcher;flatpak;

[Desktop Action manage]
Name=Manage
Exec=rsjfw config
MimeType=x-scheme-handler/roblox-studio;x-scheme-handler/roblox-studio-auth;
